
* {
    font-family: "Nunito Sans", sans-serif;
}


.logo {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;  
    font-size: 2rem;
    color: gray;

}

.menu {
    
}

.banner {
    background-color: lightgrey;
    color: #322D2E;
}

.button {
    background-color: #322D2E;
    color: white;
    text-decoration: none;
}
