
* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    color: #494949;
}

/*LOGO Y MENU*/


.logoandmenu.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 24px 12px 24px;
    height: 4rem;    
}


.logo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 100;  
    font-size: 2rem;
    color: gray;
    display: flex;

}

.logo img {
    width: 3rem;
}

ul {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    
}

li {
    list-style: none;
}

@media only screen and (min-width: 481px) {
    .logoandmenu.mobile {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .logoandmenu.desktop {
        display: none;
    }

    .logoandmenu.mobile {

        display: flex;
        justify-content: space-around;
        align-items: center;

    }

}



/*PRIMER BANNER*/

.banner {
    background-color: lightgrey;
    color: #494949;
    display: flex;
    padding-right: 24px;
    
}

.banner_img {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.banner img {
    width: 100%;
}

.banner_text {
    width: 40%;
    align-self:center;
}

.learn {
    font-size: 1.5rem;
    margin-right: 180px;
}

.button_container {
    text-align: center;
    
}

.button {
    background-color: #322D2E;
    padding: 1rem;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
    .banner {
        flex-direction: column;
    }

    .banner_img {
        width: 100%;
        margin: 0;

    }

    .banner {
        padding-right: 0px;

    }

    .banner_text {
        width: 100%;
        text-align: left;
       

}
    .learn {
        margin: 32px 16px;
    }

    .learn h1 {
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .button {
        background-color: gray;
    }
}    


/*SEGUNDO BANNER*/

.main {
    display: flex;
}

.hurt {
    width: 60%;
    padding: 32px 24px 32px 24px;
    
}  

.hurt h2 {
    font-size: 2rem;
    margin-top: 32px;
    margin-bottom: 24px;
}

.hurt p {
    margin-top: 0px;
    margin-bottom: 0px;
}


.hurt img { 
    width: 100%;
}

.main_aside {
    width: 40%;
    
}

.main_aside_card {
    display: flex;
    
}


.main_aside_card_img {
    width: 35%;
    
}

.main_aside_card img {
    width: 100%;
    padding: 16px;
}

.main_aside_card_text {
    width: 65%;
    align-self:center;
}

.main_aside_card_text h3 {
    margin: 0px;
}

.main_aside_card_text p {
    margin-top: 3px;
    margin-bottom: 3px;
}


.read_more {
    color: cornflowerblue;
    text-decoration: none;
}

.main_aside_card:hover {
    background-color: lightgrey;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {

    .hurt {
        display: none;
    }

    .main_aside {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 32px;
    } 

    .main_aside_card {
        flex-direction: column;
  
    }

    .main_aside_card_img {
        width: 100%;
        

    }

    .main_aside_card img {
        height: 200px;
        object-fit: cover;
    }

    .main_aside_card_text {
        width: 100%;
       padding-left: 48px;
    }

}


/*CURSOS*/

.courses {
    background-color: lightgrey;
    color: #494949;
    width: 100%;
}

.courses h2 {
    text-align: center;
    font-size: 2rem;
    padding: 32px;
    margin: 0px;

}

.courses_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 72px;
    margin-right: 72px;
    padding-bottom: 32px;


}

.course {
    background-color: white;
    margin: 16px;
    width: 30%;


}

.course img {
    width: 100%;
}

.course_text {
    margin: 16px 16px 24px 16px;
}

.course h3 {
    font-size: 22px;
}

@media only screen and (min-width: 481px) {
    .mobile_courses {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .courses {
        background-color: white;

    }

    .courses h2 {
        border-top: #EEEEEE solid 0.5px;
    }

    .courses_cards {
        display: none;
    }

    .mobile_courses a {
        text-decoration: none;
        padding: 16px;
        display: block;
        font-weight: bold;
    }    

    .mobile_course {
        background-color: lightgray;
        margin-top: 4px;
        margin-bottom: 4px;

    }

    .mobile_courses_cards {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }


}

/*VIDEO*/

.thesis h2 {
    text-align: center;
    font-size: 2rem;
    padding: 32px;
    margin: 0px;

}

.thesis_content {
    display: flex;
    width: 100%;
}

.video {
    width: 60%;
    padding: 0px 24px 24px 24px;
}

video {
    width: 100%;
}

.thesis_aside_card {
    display: flex;
}

.second_aside {
    width: 40%;
}

.thesis_aside_card {
    width: 100%;
    padding: 16px;
}

.second_aside img {
    width: 35%;
    margin-right: 16px;
}

.thesis_aside_text {
    width: 65%;
    align-self: center;

}

.thesis_aside_card:hover {
    background-color: lightgrey;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .second_aside {
        display: none;
    }


    .video {
        width: 100%;
    }

    .video h3, .video p {
        display: none;

    }
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 24px;
    border-top: lightgray solid 1px;
    
}

ul {
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    .terms_privacy {
        display: none;
    }


}